<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search Portal</title>
    <link href="job-search.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9894a5f83d.js" crossorigin="anonymous"></script>
  
</head>
<body>
   <div class="search-page">
       
       <h2>Find A Perfect Job for Yourself</h2>
   </div>
    
   <form>
      
           <input type="search" placeholder="Find your perfect Companies" required>
           <input type="search" placeholder="Enter Locations......" required>
   </form>
   <div class="containers">
   <div class="icons">
   <a href="https://linkedin.com">
    <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.amazon.jobs/en/job_categories">
    <i class="fab fa-amazon"></i>
    </a>
   </div>
   </div>
</body>
</html>