<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search Portal</title>
    <link href="job-search.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9894a5f83d.js" crossorigin="anonymous"></script>
  
</head>
<body>
   
<div class="main">

    <!--cards -->
   
   <div class="card">
   <div class="title">
  <h3>Android Development</h3>
</div>
   <div class="des">
    <p>In the latest job announcement, TCS India announces job vacancies for Android Developer posts, with a work location in Hyderabad.</p>
    <div class="package">
    <p><b>Package</b> : Rs.7L - Rs.10L/year</p>
    </div>
    <div class="exp">
        <p><b>Experience</b> : Experience of 5 to 9 years. </p>
        </div>
        <div class="post">
            <p>Posted By Tata Consultant Services(TCS) </p>
            </div>
   <button>Apply...</button>
   </div>
   </div>


   <!--cards -->
   <div class="card">
    <div class="title">
   <h3>Software Engineer</h3>
 </div>
    <div class="des">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolor commodi quidem ea corporis similique, voluptate esse libero .
          </p>
     <div class="package">
     <p><b>Package</b> : Rs.50T-1.5L/Month</p>
     </div>
     <div class="exp">
         <p><b>Experience</b> : Experience of 2 to 4 Years. </p>
         </div>
         <div class="post">
             <p> Posted By Birla Soft</p>
             </div>
    <button>Apply...</button>
    </div>
    </div>


    <div class="card">
        <div class="title">
       <h3>Sales Manager</h3>
     </div>
        <div class="des">
         <p>In the latest job announcement, Hindustan Unilever Ltd. India announces job vacancies for Sales Manager with a work location in Jaipur.</p>
         <div class="package">
         <p><b>Package</b> : Rs.7L - Rs.10L/year</p>
         </div>
         <div class="exp">
             <p><b>Experience</b> : Experience of 6 to 8 years. </p>
             </div>
             <div class="post">
                 <p>Posted By Hindustan Unilever Ltd. </p>
                 </div>
        <button>Apply...</button>
        </div>
        </div>


        <div class="card">
            <div class="title">
           <h3>Computer Operator</h3>
        </div>
            <div class="des">
             <p>In the latest job announcement, Velnik India Pvt Ltd. announces job vacancies for Computor Operator and MIS, with a work location in Indore.</p>
             <div class="package">
             <p><b>Package</b> : Rs.3L-4L/year</p>
             </div>
             <div class="quli">
                <p><b>Qulification</b> : Bachlor of Computer Application (Must)</p>
                </div>
                <div class="quli">
                    <p><b>Brand</b> : Kaveri Mehndi,Kaveri Haircolor,Elois etc...</p>
                    </div>
             <div class="exp">
                 <p><b>Experience</b> : Experience of 1 to 3 years. </p>
                 </div>
                 <div class="post">
                     <p>Posted By Velnik India Pvt Ltd. </p>
                     </div>
            <button>Apply...</button>
            </div>
        </div>


        <div class="card">
                <div class="title">
               <h3>Sales Supervisor</h3>
             </div>
                <div class="des">
                 <p>In the latest job announcement, Ruchi Soya Industries Ltd. announces job vacancies for , with a work location in Indore.</p>
                 <div class="package">
                 <p><b>Package</b> : Rs.3L-4L/year</p>
                 </div>
                 <div class="exp">
                     <p><b>Experience</b> : Experience of 1 to 3 years. </p>
                 </div>
                     <div class="quli">
                        <p><b>Age</b> : 18 to 35 Year</p>
                    </div>
                       <div class="quli">
                            <p><b>Brand</b> : Ruchi Gold, Sunrich</p>
                      </div>
                     <div class="post">
                         <p>Posted By  Ruchi Soya Industries Ltd. </p>
                    </div>
                <button>Apply...</button>
                </div>
                </div>
                
        <div class="card">
            <div class="title">
           <h3>Functional & Analytics Consultant</h3>
         </div>
            <div class="des">
             <p>In the latest job announcement, IBM announces job vacancies for Computor Operator and MIS, with a work location in Bengaluru.</p>
             <div class="package">
             <p><b>Package</b> : Rs.4.5L to 9.6L/year</p>
             </div>
             <div class="quli">
                <p><b>Requirement</b> :• The candidate should have proficiency of doing exploratory analysis of data using Excel / Python or other tools.
                    </p>
                </div>
             <div class="exp">
                 <p><b>Experience</b> :  Minimum 6 years of  experience working in  Financial Services Industry </p>
                 </div>
                 <div class="post">
                     <p>Posted By IBM </p>
                     </div>
            <button>Apply...</button>
            </div>
            </div>

            <div class="card">
   
                <div class="title">
               <h3>Area Sales Manager</h3>
             
             </div>
                
                <div class="des">
                 <p>In the latest job announcement, Parvan Pvt Ltd. announces job vacancies for Area Sales Manager , with a work location in Kolkata and Patna.</p>
                 <div class="package">
                 <p><b>Package</b> : Negotiable + TA,DA,Also Incentive.</p>
                 </div>
                 <div class="exp">
                     <p><b>Experience</b> : Experience of 5 to 8 years in FMCG division in same position and Area. </p>
                     </div>
                     <div class="quli">
                        <p><b>Age</b> : 18 to 35 Year</p>
                        </div>
                        <div class="quli">
                            <p><b> Urgent Reqirment</b>  </p>
                            </div>
                     <div class="post">
                         <p>Posted By Parvan Pvt Ltd. </p>
                         </div>
                <button>Apply...</button>
                </div>
                </div>
    <div class="card">
   
     <div class="title">
        <h3>Technical Scientiest</h3>       
         </div>        
            <div class="des">
                <p>In the latest job announcement, IBM announces job vacancies for Technical Scientiest ,
                     with a work location in Bengaluru and Noida.

                    <b>Your Role and Responsibilities</b>

                  As Service Delivery Specialist, you are responsible for implementation and operation of COTS product and 
                  manage daily IT operations of Interconnect/Fraud management System.
                </p>
            <div class="package">
                <p><b>Package</b> : Rs.8.8L-Rs.15L/year  .</p>
            </div>
            <div class="exp">
                 <p><b>Experience</b> : Experience of Minimum 2 to 5 years Reqired in telecom IT Company </p>
             </div>
            <div class="quli">
                
            </div>
           
            <div class="post">
            <p>Posted By IBM </p>
            </div>
           <button>Apply...</button>
            </div>
        </div>        
   
   </div>
</body>
</html>