<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp!</title>
    <link href="signup.css" rel="stylesheet">
</head>
<body>
    <div class="signup">
        <form class="signup__page">
            <h2>SignUp</h2>
            <lable>Enter Your FirstName :</lable>
            <input type="text" placeholder="firstName" required></br>
            <label> Enter Your LastName :</label>
            <input type="text" placeholder="lastName" required></br>
            <label>Enter Your Email-Id :</label>
            <input type="email" placeholder="abc@gmail.com" required></br>
            <label>Enter Your Password :</label>
            <input type="password" placeholder="Password" required></br>
            <button type="submit" class="submit__btn">Submit</button></br>
             <label id="account">I've an Account !</label>
             <a href="file:///C:/Users/hp/Desktop/clg-project/annuk-project/components/login.html">Login!</a>
           
        </form>
    </div>
</body>
</html>