*{
    margin: 10px;
    padding: 10px;
   text-align: center;
   align-items: center;
   justify-content: center;
  
}
.signup{
    display: flex;
    border: 1px solid black;
    width: 35%;
    height: 40%;
    margin: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 10px 10px brown;
    
}
.signup__page{
    font-weight: bold;
   
}
.signup__page input{
    font-size: 15px;
    border-radius: 8px;
    background-color: lemonchiffon;
    box-shadow: 0 5px 5px gray;
    content: '\27a4';
    cursor: pointer;
    width: 100%;
    height: 32px;
    background: transparent;
    border: 1px solid lightcoral;
    margin: 15px 0 10px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    color:brown;
}
h2{
    font-size: 40px;
    color: maroon;  
}
.signup__page input:hover{
    background-color: lightgrey;
}
#account{
    font-size: 15px;
    font-weight: bold;
}
.submit__btn{
    background-color: lightseagreen;
    cursor: pointer;
    width: 200px;
    border-radius: 12px;

}
.submit__btn:hover{
    background-color: cadetblue;
    transition: 0.5s;
}
a{
    text-decoration: none; 
    font-size: 20px;
    margin: 10px;
    display: inline-flex;
    box-shadow: 0 10px 10px gray;
    background-image: linear-gradient(#ddd 50%, red 50%);
    background-size: 100% 200%;
    background-position: 0% 5%;
    transition: background-position 0.5s, color 0.5s;
    color: #1976d3;
    border-radius: 15px;
    background-image: linear-gradient(#ddd 50%,#1976d3 50%);
}
a:hover{
    color: white;
    background-position: 0 100%;
}